RewriteEngine On

#Define a base path of the app
RewriteBase /current_version_of_projects/dict/procedural/project_root

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Create a single entry point of the app
RewriteRule ^(.*)$ index.php
